.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #aa218c !important;
  border-color: #aa218c !important;
}

.ant-steps.ant-steps-vertical > .ant-steps-item .ant-steps-item-content {
  min-height: 78px !important;
}

@media all and (max-width: 575.98px) {
  .ant-steps.ant-steps-vertical {
    display: flex;
    flex-direction: row !important;
  }

  .ant-steps.ant-steps-vertical
    > .ant-steps-item
    > .ant-steps-item-container
    > .ant-steps-item-tail::after {
    width: 0px !important;
  }

  .ant-steps.ant-steps-vertical > .ant-steps-item .ant-steps-item-content {
    min-height: auto !important;
  }
}
