.day-name {
    text-align: center;
    font-weight: bold;
  }
  
  .day {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin: 2px;
  }
  
  .day.selected {
    background-color: #4caf50;
    color: white;
  }
  
  .my-4 {
    margin: 16px;
  }
  
  @media all and (max-width: 499.98px){
    .day {
      text-align: center;
      padding: 3px;
      cursor: pointer;
      margin: 2px;
      font-size: 12px;
    }
  }