@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --e-global-color-secondary: #4a5c24;
  --e-global-color-primary: #64748b;
  --e-global-color-text: #ffffff;
  --e-global-color-accent: #ffffff2b;
  --e-global-color-d49ac81: #a48125;
  --e-global-color-332724a: #4a5c24;
  --e-global-color-4d462f5: #dcdcde;
  --e-global-color-cfa1f76: #f9f3eb;
  --e-global-color-291baba: #fafbfc;
  --e-global-color-c94d9ab: #99c24a;
  --e-global-color-044b931: #6e9039;
  --e-global-color-638d055: #4a5c24;
  --e-global-color-a2c0d56: #99c24a;
  --e-global-color-4ca25af: #a48125;
  --e-global-color-f83c760: #000000;

  /* new color */
  --e-global-color-FFEEE2: #FFEEE2;
  --e-global-color-AA218C: #AA218C;
  --e-global-color-45B29D: #45B29D;
  --e-global-color-E0A43B: #E0A43B;
  --e-global-color-3c3c3d:#3c3c3d;

  --voilet: #AA218C;
  --green: #45B29D;
  --yellow: #E0A43B;
  --base: #FFEEE2;
  --neutral: #3c3c3d;
}

html,
body {
  overflow-x: hidden;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* login section */

.login_modal {
  width: 70vw !important;
}

.login_modal .ant-modal-content {
  height: 575px;
}
.login_modal .ant-modal-body {
  height: 100%;
}
.login_modal .ant-modal {
  top: 70px !important;
}

@media screen and (min-width: 0px) and (max-width: 575px) {
  .login_modal {
    width: 100vw !important;
  }
  .login_modal .ant-modal-content {
    height: auto !important;
  }
}


@layer utilities {
  .highlight-heading {
    @apply mt-[1rem] mb-[1.5rem] text-[32px] leading-[36px] md:text-[3em] md:leading-[1.3em] font-suranna  font-[400] text-E0A43B text-center 
  }
  .section-title {
    @apply font-jost text-q3c3c3d text-[14px] font-[500] leading-[1.4em] uppercase text-center
  }
  .section-content {
    @apply font-jost text-primary text-[18px] font-[400] leading-[1.4em] text-center
  }
  .site-button-primary {
    @apply text-center text-[#FFFFFF] inline-flex items-center justify-center px-4 py-2 bg-E0A43B   hover:bg-q4ca25af transition mt-10 cursor-pointer min-h-[48px] rounded
  }
  .site-button-secondary {
    @apply text-center text-[#FFFFFF] inline-flex items-center justify-center px-4 py-2 bg-[#AA218C]   hover:!bg-[#85186d] transition mt-10 cursor-pointer min-h-[48px] rounded
  }
  .input-label {
    @apply block font-jost text-[14px] md:text-[18px] font-[500] leading-[1.4em] text-[--neutral] mb-3
  }
  .input-label-required {
    @apply text-red-600
  }
}