@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --e-global-color-secondary: #4a5c24;
  --e-global-color-primary: #64748b;
  --e-global-color-text: #ffffff;
  --e-global-color-accent: #ffffff2b;
  --e-global-color-d49ac81: #a48125;
  --e-global-color-332724a: #4a5c24;
  --e-global-color-4d462f5: #dcdcde;
  --e-global-color-cfa1f76: #f9f3eb;
  --e-global-color-291baba: #fafbfc;
  --e-global-color-c94d9ab: #99c24a;
  --e-global-color-044b931: #6e9039;
  --e-global-color-638d055: #4a5c24;
  --e-global-color-a2c0d56: #99c24a;
  --e-global-color-4ca25af: #a48125;
  --e-global-color-f83c760: #000000;

  /* new color */
  --e-global-color-FFEEE2: #ffeee2;
  --e-global-color-AA218C: #aa218c;
  --e-global-color-45B29D: #45b29d;
  --e-global-color-E0A43B: #e0a43b;
  --e-global-color-3c3c3d: #3c3c3d;

  --voilet: #aa218c;
  --green: #45b29d;
  --yellow: #e0a43b;
  --yellow-light: rgba(224, 163, 59, 0.338);
  --base: #ffeee2;
  --neutral: #3c3c3d;
}

html,
body {
  overflow-x: hidden;
  font-family: var(--font-poppins);
  background-color: var(--base);
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* login section */

.login_modal {
  width: 70vw !important;
}

.login_modal .ant-modal-content {
  height: 575px;
}
.login_modal .ant-modal-body {
  height: 100%;
}
.login_modal .ant-modal {
  top: 70px !important;
}
.big-star .ant-rate-star {
  font-size: 38px !important;
}

.no-x-scroller {
  overflow-x: auto;
  scrollbar-width: none;
}

@media screen and (min-width: 0px) and (max-width: 575px) {
  .login_modal {
    width: 100vw !important;
  }
  .login_modal .ant-modal-content {
    height: auto !important;
  }
}

/* Force slick-track to start from the left */
.ant-carousel .slick-track {
  margin-left: 0 !important;
  justify-content: flex-start !important;
}



@layer utilities {
  .narrow-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #b4b4b4 #f1f1f1; 
  }

  .narrow-scrollbar::-webkit-scrollbar {
    width: 3px; 
    height: 3px; 
  }

  .narrow-scrollbar::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 3px; 
  }

  .narrow-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #949494; 
  }

  .narrow-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  .common_page_width {
    @apply mx-auto w-[100%] md:w-[90%] lg:w-[80%] px-5 md:px-4 py-10 md:py-20 relative;
  }

  .site_logo {
    @apply w-20 h-16 md:w-[115px] md:h-[95px];
  }

  .product_title {
    @apply text-[--yellow] text-[1.8rem] font-semibold capitalize mb-4;
  }

  /* heading/ text */
  .highlight-heading {
    @apply mt-[1rem] mb-[1.5rem] text-4xl leading-relaxed font-prata text-[--yellow] text-center;
  }
  .sub_heading {
    @apply mt-[1rem] mb-[1.5rem] text-[18px] md:text-[26px] leading-[30px] md:leading-[36px] font-[600] text-center;
  }
  .section-title {
    @apply text-[--neutral] text-[18px] font-[500] leading-[1.4em] uppercase text-center;
  }
  .section-content {
    @apply text-primary text-sm leading-relaxed text-center;
  }

  .text-heading {
    @apply text-q3c3c3d text-[16px] font-[500] leading-[22px] uppercase text-center;
  }
  .text-text {
    @apply text-primary text-sm leading-relaxed text-center;
  }

  .section_title14 {
    @apply text-q3c3c3d text-[14px] leading-[20px] font-[500]  uppercase text-center;
  }

  .text_text14 {
    @apply text-primary text-[14px] font-[400] leading-[20px] text-center;
  }

  /* Button */
  .site-button-primary {
    @apply text-center text-[#FFFFFF] inline-flex items-center justify-center px-4 py-2 bg-E0A43B   hover:bg-q4ca25af transition mt-10 cursor-pointer min-h-[48px] rounded;
  }
  .site-button-secondary {
    @apply text-center text-[#FFFFFF] inline-flex items-center justify-center px-4 py-2 bg-[#AA218C]   hover:!bg-[#85186d] transition mt-10 cursor-pointer min-h-[48px] rounded;
  }

  .site-button-secondary-outlined {
    @apply border border-[--voilet] text-center text-[--voilet] inline-flex items-center justify-center px-4 py-2 bg-transparent transition mt-10 cursor-pointer min-h-[48px] rounded;
  }

  .site-scrollbar {
    @apply scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-transparent
  }

  /* Input */
  .input-label {
    @apply block text-[14px] md:text-[18px] font-[500] leading-[1.4em] text-[--neutral] mb-3;
  }
  .input-label-required {
    @apply text-red-600;
  }
}
